@import "sass-essentials";

.page {
  @include page-flex;

  // Header
  &__header {
    width: 100%;
  }

  // Main
  &__main {
    width: 100%;
  }

  // Aside
  &__aside {
    width: 100%;
    margin-bottom: 4.8rem;

    & > * {
      margin-top: 0;
    }
  }

  // Footer
  &__footer {
    width: 100%;
    margin-top: auto;
  }
}
