@import "sass-essentials";

.page {
  @include page-flex;

  // Header
  &__header {
    inline-size: 100%;
  }

  // Main
  &__main {
    inline-size: 100%;
  }

  // Aside
  &__aside {
    inline-size: 100%;
    margin-block-end: 4.8rem;

    & > * {
      margin-block-start: 0;
    }
  }

  // Footer
  &__footer {
    inline-size: 100%;
    margin-block-start: auto;
  }
}
