@import "sass-essentials";

.page {
  @include page-flex;

  // Header
  &__header {
    width: 100%;
  }

  // Main
  &__main {
    width: 100%;
  }

  // Aside
  &__aside {
    width: 100%;
    margin-bottom: 4.8rem;

    & > * {
      margin-top: 0;
    }
  }

  // Footer
  &__footer {
    width: 100%;
    margin-top: auto;
  }

  &.is-peirt-theme {
    $peirt-highlight: #e90034;
    $peirt-dark: #ca0000;

    color: $peirt-dark;

    .site-logo {
      width: 4.5rem;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $peirt-highlight;
    }

    a {
      &, &:active {
        color: $peirt-highlight;
        text-decoration-color: $lightgray;
      }
      &:hover,
      &:focus {
        color: $peirt-dark;
        text-decoration-color: $peirt-highlight;
      }
    }

    .page-header {
      background-color: $peirt-highlight;
    }

    .main-navigation__link {
      &, &:active {
        color: $color-base-link-invert;
        text-decoration-color: $color-base-link-underline-invert;
      }
      &:hover,
      &:focus {
        color: $color-base-link-hover-invert;
        text-decoration-color: $color-base-link-underline-hover-invert;
      }
    }

    .breadcrumb__icon svg {
      fill: $peirt-dark;
    }

    .embed-container,
    .page-article__visual--sound > * {
      box-shadow: 0 0 0.6rem -0.4rem $peirt-dark;
    }

    .embed-container:hover {
      border-color: $peirt-highlight;
    }

    .tracklist__item::before,
    .tracklist__artist,
    .tracklist__version,
    .tracklist__label {
      color: $peirt-highlight;
    }

    .filter__link {
      color: $peirt-highlight;
    }

    .filter__link:hover,
    .filter__link:focus,
    .filter__link[aria-current*="page"] {
      border-color: $peirt-highlight;
      color: $peirt-dark;
      box-shadow: 0 0 0.6rem -0.4rem $peirt-dark;
    }
  }
}
