@import "sass-essentials";

.header-layout {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-grow: 1;

    &--branding {
      flex-grow: 0;
    }

    &--main-navigation {}
    &--secondary-navigation {}
  }
}
