@import "sass-essentials";

.teaser {
  @include transition(cosmetic);
  @include shadow;

  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: thin solid $lightgray;
  border-radius: 1.2rem 3.6rem 1.2rem 0;

  .overview__item:nth-child(even) & {
    border-radius: 1.2rem 0 1.2rem 3.6rem;
  }

  &__content {
    padding: 1.8rem 2rem 3.2rem;
  }

  &__image {
    order: -1;
    height: 16rem;
    overflow: hidden;
    border-bottom: thin solid $lightgray;
    border-top-left-radius: 1.1rem;
    border-top-right-radius: 3.5rem;

    .teaser--sound & {
      position: relative;
      height: 0;
      padding-bottom: 100%;
    }

    .overview--large & {
      height: 20rem;
    }

    .overview__item:nth-child(even) & {
      border-top-right-radius: 0;
    }

    img {
      @include transition(all);

      object-fit: cover;
      height: 100%;
      width: 100%;

      .teaser--sound & {
        position: absolute;
      }
    }
  }

  &__title {
    @include font-size(h3);

    margin-top: 0;
  }

  &__link {
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      border-radius: 1.2rem 3.6rem 1.2rem 0;

      .overview__item:nth-child(even) & {
        border-radius: 1.2rem 0 1.2rem 3.6rem;
      }
    }
  }

  &:active,
  &:focus,
  &:focus-within,
  &:hover {
    border-color: $petrol;
    background-color: rgba(white, 0.24);
    transform: translateY(-0.1rem);

    .teaser__image img {
      transform: scale(1.02);
    }
  }

  &:focus-within,
  &:focus {
    box-shadow: 0 0 0.6rem -0.2rem $petrol;

    &:not(:focus-visible) {
      background-color: rgba(white, 0.4);
    }
  }

  &:focus-within {

    // Focus with a keyboard
    a:focus-visible {
      &::before {
        outline: thin dashed currentColor;
        outline-offset: 0.6rem;
      }
    }

    // Focus with a mouse, touch, or stylus
    a:focus {
      &, &:not(:focus-visible)::before {
        outline: none;
      }
    }
  }

  // Ajuinvrij
  &.is-ajuinvrij {
    $label-size: 3.2rem;
    $label-offset-x: 1.8rem;
    $label-offset-y: 1.2rem;

    position: relative;
    padding-bottom: (1/2 * $label-size);

    &::after {
      content: '';
      position: absolute;
      width: $label-size;
      height: $label-size;
      right: $label-offset-x;
      bottom: $label-offset-y;
      z-index: 0;
      border-radius: (1/2 * $label-size);
      background-image: url(../../../images/ajuinvrij.svg);
      background-size: contain;
    }
  }
}
