@import "sass-essentials";

.social-media {
  // Variables
  $icon-size: 1.8rem;

  // Declarations
  @include reset-list;

  text-align: center;
  margin-block: 12rem 0;
  margin-inline: auto;
  text-wrap: balance;
  width: clamp(28vw, 64vw, 58rem);

  @media (hover) and (prefers-reduced-motion: no-preference) {
    &:has(.social-media__item:hover) > .social-media__item:not(:hover),
    &:has(.social-media__item:focus-within) > .social-media__item:not(:focus-within) {
      opacity: 0.8;
      transform: scale(0.94);
    }
  }

  // Children
  &__item {
    display: inline-block;
    transform-origin: center;
    transition: transform $transition-duration $easeInOutCubic, opacity $transition-duration-slow $easeInOutCubic;

    @supports (animation-timeline: view()) {
      @media (prefers-reduced-motion: no-preference) {
        animation: social-reveal $easeInOutCubic forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 12vh;
      }
    }
  }

  &__link {
    @include transition(cosmetic);

    position: relative;
    display: block;
    padding: clamp(0.2rem, 1vw, 0.8rem);
    border-radius: 50%;

    > * {
      @include transition(all);
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {
      transform: translateY(-0.1rem);

      > *  {
        transform: scale(1.08);
      }

      @media (prefers-reduced-motion: reduce) {
        transform: translateY(0);

        > *  {
          transform: scale(1.02);
        }
      }
    }

    &:focus-within,
    &:focus {
      &:not(:focus-visible) {
      }
    }
  }

  &__text {
    @include visually-hidden();
  }

  .icon {
    block-size: $icon-size;
    inline-size: $icon-size;
  }

  @keyframes social-reveal {
    from {
      opacity: 0.8;
      scale: 1.2;
      filter: blur(2px);
    }

    to {
      opacity: 1;
      scale: 1;
      filter: blur(0);
    }
  }
}
