@import "sass-essentials";

.social-media {
  // Variables
  $icon-size: 1.8rem;

  // Declarations
  @include reset-list;

  text-align: center;
  margin-block: 12rem 0;
  margin-inline: auto;
  text-wrap: balance;
  width: clamp(28vw, 64vw, 58rem);

  // Children
  &__item {
    display: inline-block;
  }

  &__link {
    @include transition(cosmetic);

    position: relative;
    display: block;
    padding: clamp(0.2rem, 1vw, 0.8rem);
    border-radius: 50%;

    > * {
      @include transition(all);
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {
      transform: translateY(-0.1rem);

      > *  {
        transform: scale(1.08);
      }
    }

    &:focus-within,
    &:focus {
      &:not(:focus-visible) {
      }
    }
  }

  &__text {
    @include visually-hidden();
  }

  .icon {
    block-size: $icon-size;
    inline-size: $icon-size;
  }
}
