@import "sass-essentials";

.social-media {
  // Variables
  $icon-size: 1.8rem;

  // Declarations
  @include reset-list;

  text-align: center;
  text-wrap: balance;
  margin: 12rem auto 0;

  // Children
  &__item {
    display: inline-block;
  }

  &__link {
    @include transition(cosmetic);

    position: relative;
    display: block;
    padding: 0.8rem;
    border-radius: 50%;

    > * {
      @include transition(all);
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {
      transform: translateY(-0.1rem);

      > *  {
        transform: scale(1.08);
      }
    }

    &:focus-within,
    &:focus {
      &:not(:focus-visible) {
      }
    }
  }

  &__text {
    @include visually-hidden();
  }

  .icon {
    height: $icon-size;
    width: $icon-size;
  }
}
