@import "sass-essentials";

.filter {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem clamp(1.2rem, 2vw, 1.8rem);
  margin-block: 2.4rem 1.2rem;
  font-size: $h5-font-size;
  text-transform: lowercase;

  &__link {
    text-decoration: none;
    display: inline-block;
    padding-block: 0 0.2rem;
    padding-inline: 1.2rem;
    border-radius: 1.2rem;
    border: thin solid var(--fava-border);

    &:hover,
    &:focus,
    &[aria-current*="page"] {
      @include shadow();

      border-color: var(--fava-border-focus);
      background-color: var(--fava-background-focus);
      transform: translateY(-0.1rem);
    }


    &[aria-current*="page"] {
      color: var(--fava-link-active);
      background-color: var(--fava-background-active);
      transform: translateY(0);

      &:hover,
      &:focus {
        transform: translateY(-0.1rem);
      }
    }
  }
}