@import "sass-essentials";

#gradient-vertical {
  --color-stop-1: var(--fava-icon-start);
  --color-stop-2: var(--fava-icon-start);
  --color-stop-3: var(--fava-icon-end);
}

.icon {
  $icon-size: 3.4rem;

  display: block;
  block-size: $icon-size;
  inline-size: $icon-size;
  margin: auto;

  &__path {
    fill: var(--fava-icon);

    @supports(--css: variables) {
      fill: url(#gradient-vertical) var(--fava-icon);
    }

    @media screen and (forced-colors: active) {
      fill: LinkText;
    }
  }
}
