@import "sass-essentials";

#gradient-vertical {
  --color-stop-1: #0C7489;
  --color-stop-2: #0C7489;
  --color-stop-3: #2E6171;
}

.icon {
  $icon-size: 3.4rem;

  display: block;
  height: $icon-size;
  width: $icon-size;
  margin: auto;

  &__path {
    fill: $petrol;

    @supports(--css: variables) {
      fill: url(#gradient-vertical) $petrol;
    }
  }
}
