@import "sass-essentials";

.page-article {
  margin-bottom: 4.8rem;

  &--home {
    padding-top: 3.2rem; // Breadcrumb
    margin-inline: auto;
    max-width: 58rem;
    margin-bottom: 7.2rem;
  }

  > *:first-child {
    margin-top: 0;
  }

  &__content {
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    &__small {
      color: var(--fava-accent);
      font-size: $base-font-size-smaller;
    }
  }

  &__full {
    width: 100%;
  }

  &--intro {
    $article-gutter: 2rem;

    display: flex;
    flex-wrap: wrap;
    margin-left: -$article-gutter;
    margin-right: -$article-gutter;
    margin-bottom: 0;

    > * {
      padding-left: $article-gutter;
      padding-right: $article-gutter;
      margin: 1.2rem auto;
    }

    .page-article__content {
      margin-left: 0;
      flex-basis: 36ch;
      min-width: 30rem;
      flex-grow: 1;
    }

    .page-article__content--sound {
      display: flex;
      flex-direction: column;
      flex-grow: 8;

      p:last-of-type {
        margin-bottom: auto;
      }
    }

    .page-article__visual {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .page-article__visual--sound {
      flex-grow: 1;
      flex-basis: 30rem;
      padding-top: 1.2rem;
      align-self: end;
      max-width: 38rem;

      > * {
        @include shadow();

        border: thin solid var(--fava-border);
        object-fit: cover;
        width: 100%;
      }
    }

    .page-article__visual--recipe {
      // Variables
      $border-size: 0.1rem;
      $corner-size: 4.2rem;

      // Calculated
      $squareroot:  ($border-size / 1rem * $border-size / 1rem / 2);
      $pythagoras:  ((sqrt($squareroot) * 1rem) + $corner-size);
      $pythagoras-inner: ($corner-size - ((sqrt($squareroot) * 1rem)));

      flex-grow: 1;
      flex-basis: 28rem;
      padding-top: 1.2rem;
      filter: drop-shadow(0 0 0.3rem rgba(red($darkpetrol), green($darkpetrol), blue($darkpetrol), 0.1));

      > * {
        object-fit: cover;
        height: clamp(16rem, 40vw, 20rem);
        width: 100%;

        @supports (clip-path: initial) {
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$pythagoras-inner}), calc(100% - #{$pythagoras-inner}) 100%, 0 100%);
        }
      }
    }
  }

  &--tools {}
  &--contact {}

  ul:not([class]) {
  list-style: none;
  padding-left: 1.8rem;

    li {
      position: relative;

      &::before {
        content: "";
        background-color: var(--fava-accent);
        position: absolute;
        top: 0.66em;
        left: -1.6rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
      }
    }
  }

  ol {
    list-style: none;
    padding-left: 0;
    counter-reset: custom-counter;

    > li {
      counter-increment: custom-counter;
      padding-left: 0;

      &::before {
        @include font-size(h3);
        content: counter(custom-counter) ". ";
        display: block;
        margin-bottom: 0.4rem;
        color: var(--fava-accent);
      }
    }
  }
}
