@import "sass-essentials";

.page-article {
  margin-bottom: 4.8rem;

  &__content {
    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &--intro {
    $article-gutter: 2rem;

    display: flex;
    flex-wrap: wrap;
    margin-left: -$article-gutter;
    margin-right: -$article-gutter;

    > * {
      padding-left: $article-gutter;
      padding-right: $article-gutter;
      margin: 1.2rem auto;
    }

    .page-article__content {
      margin-left: 0;
      flex-basis: 36ch;
      min-width: 30rem;
      flex-grow: 1;
    }

    .page-article__visual {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &--tools {}
  &--contact {}


  ul {
    list-style: none;
    padding-left: 1.8rem;

    li {
      position: relative;

      &::before {
        content: "";
        background-color: $petrol;
        position: absolute;
        top: 0.66em;
        left: -1.6rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
      }
    }
  }

  ol {
    list-style: none;
    padding-left: 0;
    counter-reset: custom-counter;

    > li {
      counter-increment: custom-counter;
      padding-left: 0;

      &::before {
        @include font-size(h3);
        content: counter(custom-counter) ". ";
        display: block;
        margin-bottom: 0.4rem;
        color: $petrol;
      }
    }
  }
}
