.ajax-progress {
  display: inline-block;
  padding: 0.4rem;
  background: none;
}

.ajax-progress-throbber {
  .throbber {
    background: transparent url(/themes/custom/compony/images/throbber-spinning-circles.svg) no-repeat 0 center;
    display: inline;
    padding: 0.4rem 0.8rem;
  }

  .message {
    display: inline;
    padding: 0.4rem 0.8rem;
  }
}

.ajax-progress-bar {
  width: 16em;
}

/* Full screen throbber */
.ajax-progress-fullscreen {
  left: calc(50% - 2rem);
  position: fixed;
  top: calc(40% - 2rem);
  z-index: 1000;
  background-image: url(/themes/custom/compony/images/throbber-spinning-circles.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  opacity: 1;
  padding: 0;
  width: 6.4rem;
  height: 6.4rem;
}
