.container {


  // Horizontal container
  @include contain();

  .paragraph--small-container & {
    max-width: $small-container;
  }

  // Debugging styling
  @if $enable-debugging == true {
    border-left: thick dashed $debug-color-foreground;
    border-right: thick dashed $debug-color-foreground;
  }

  // Nested containers
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;

    @if $enable-debugging == true {
      border-left-width: 0;
      border-right-width: 0;
    }
  }

  // The vertical container also gives top & bottom spacing
  &--vertical {
    $vertical-paragraph-spacing: 4rem;

    .paragraph--spacing-top &,
    .maintenance-page & {
      padding-top: $vertical-paragraph-spacing;

      // Nested containers
      .container--vertical {
        padding-top: 0;
      }
    }

    .paragraph--spacing-bottom &,
    .maintenance-page & {
      padding-bottom: $vertical-paragraph-spacing;

      // Nested containers
      .container--vertical {
        padding-bottom: 0;
      }
    }
  }
}
