@import "sass-essentials";

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: $h6-font-size;

  &__items {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem clamp(2.4rem, 4vw, 3.6rem);
    padding-block: 0.8rem;
  }

  &__item {
    flex-grow: 1;
  }

  &__link {
    @include link(inverse);

    text-decoration-thickness: .08rem;
    text-underline-offset: .3rem;
    font-weight: 500;
    opacity: 0.9;

    &:focus {
      opacity: 1;
    }

    &, &:active {
      text-decoration-color: transparent;
    }

    &:hover,
    &[aria-current*="page"],
    .main-navigation__item--active-trail & {
      opacity: 1;
      text-decoration-color: currentColor;
    }
  }
}
